# MacOS system files
.DS_Store

# Editor directories
.vscode/
.idea/

# Language-specific
__pycache__/
*.pyc
.Rproj.user
.Rhistory
.RData
.Ruserdata

# Environment directories
venv/
env/
.env

# Build directories
build/
dist/
